@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

:root {
  --header-green: rgb(103, 136, 109);
  --button-red: rgb(210, 74, 74);
  --button-green: rgb(0, 255, 42);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ede6e6;
  font-size: 16px;
}

body,
button {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.container,
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 1;
  border-bottom: 1px solid rgb(147, 141, 141);
  box-shadow: 0px 1px 1px 1px #656565;
  width: 100%;
  background-color: rgb(103, 136, 109);
  /* margin-bottom: 20px; */
  color: whitesmoke;
}

.header--info {
  display: flex;
  align-items: baseline;
}

.header h1 {
  font-family: "Grand Hotel", cursive;
  margin: 0;
  font-size: 40px;
}

.header--info p {
  padding-left: 1em;
}

.card,
.card img {
  border-radius: 5px;
}

.card {
  margin-top: 0.6em;
  max-width: 600px;
  width: 100%;
  border: 1px solid rgb(182, 178, 178);
  box-shadow: 1px 1px 3px 1px #c2c0c0;
  padding: 1.3em;
  background-color: rgb(250, 250, 250);
}

.card--img img {
  width: 100%;
  object-fit: cover;
}

.card--info {
  line-height: 1.4em;
}

.button {
  outline: none;
  background: transparent;
  font-size: 14px;
  min-width: 25px;
  min-height: 30px;
  margin-right: 6px;
  color: rgb(147, 141, 141);
  border: solid 1px rgb(147, 141, 141);
  border-radius: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.copied {
  transition: 0.2s all;
  color: var(--button-green);
  border: solid 1px var(--button-green);
  /* box-shadow: 1px 1px 1px 2px inset; */
}

.liked {
  color: var(--button-red);
  background-color: rgb(255, 246, 246);
  border: solid 1px var(--button-red);
}

.popuptext {
  background-color: var(--button-green);
  color: #fff;
  text-align: center;
  padding: 7px 4px;
}

@media (max-width: 630px) {
  .header--info p {
    display: none;
  }

  body {
    background-color: rgb(250, 250, 250);
  }

  .feed {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-top: 0;
    border-radius: 0;
    border: none;
  }

  .header {
    margin-bottom: 0;
  }
}
